
/************************************ header *******************************************/

header {
    width: 100%;
    /* height: 100vh; */
}

header #header-top {
    display: flex;
    width: 100%;
    /* height: 4vh; */
    height: 30px;
    background-color: #252525;
}

header #header-top .header-top-message {
    width: 50%;
    display: flex;
    color: #fff;
    align-items: center;
}

header #header-top .header-top-message p {
    font-size: 13px;
}

header #header-top .header-top-social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header #header-top .header-top-social ul {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

header #header-top .header-top-social ul li {
    width: 25%;
    text-align: left;
    margin: 0 5px;
}

header #header-top .header-top-social ul li a {
    color: #fff;
    font-size: 18px;
}

header #header-info {
    background-color: #0e0e0e;
    /* height: 6vh; */
    height: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header #header-info .header-info-item {
    width: 33.333333%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header #header-info .header-info-item:nth-child(2) {
    padding-right: 45px;
}

header #header-info .header-info-item:nth-child(3) {
    padding-right: 45px;
}

header #header-info .header-info-item .header-info-item-icon {
    color: #fff;
}

header #header-info .header-info-item .header-info-item-icon svg {
    font-size: 38px;
}

header #header-info .header-info-item .header-info-item-desc {
    color: #fff;
    font-size: 13px;
}

header #header-info .header-info-item .header-info-item-desc p {
    line-height: 23px;
}

header #header-info .header-info-item .header-info-item-desc .friday {
    font-size: 12px;
}

header #header-info .header-info-item .header-info-item-desc.phone {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

header #header-info .header-info-item .header-info-item-desc.phone .mobile {
    margin-top: 20px;
}

header #header-slider {
    background-image: url('../images/p1.jpg');
    background-size: cover;
    height: calc(100vh - 170px);  /*800px*/
    display: flex;
    align-items: center;
    position: relative;
}

header #header-slider .header-slider-desc {
    width: 100%;
    height: calc(100vh - 170px);  /*800px*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

header #header-slider .header-slider-desc h1 {
    font-size: 60px;
    font-weight: bolder;
}

header #header-slider .header-slider-desc .typed {
    margin-top: 30px;
}

header #header-slider .header-slider-desc .typed span {
    font-size: 45px;
    font-weight: 500;
    color: #faa000;
}

header #header-nav {
    width: 100%;
    height: 70px;
    background-color: #0f0f0f;
    display: flex;
}

header #header-nav nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

header #header-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

header #header-nav ul li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

header #header-nav ul li::before {
    content: "";
    background-color: #faa000;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header #header-nav ul li:hover::before {
    width: 100%;
}

header #header-nav ul li a {
    color: #fff;
    font-size: 15px;
}

header #header-nav .header-nav-logo {
    width: 10%;
}

header #header-nav .header-nav-logo img {
    width: 100%;
    height: 59.428%;
    padding: 10px 0;
}

/* ********************************** base-story **********************************************/

#base-story {
    width: 100%;
    padding: 80px 0;
}

#base-story .base-video {
    width: 50%;
    position: relative;
}

#base-story .base-video::before {
    content: '';
    width: 300px;
    height: 10px;
    top: -10px;
    right: 0;
    position: absolute;
    background-color: #faa000;
}

#base-story .base-video::after {
    content: '';
    width: 10px;
    height: 180px;
    top: -10px;
    right: -10px;
    position: absolute;
    background-color: #faa000;
}

#base-story .base-video video {
    width: 100%;
}

#base-story .base-story {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    box-sizing: border-box;
}

#base-story .base-story-title {
    width: 100%;
}

#base-story .base-story-title h3 {
    margin-bottom: 10px;
    border-right: 4px solid #faa000;
    padding: 10px;
}

#base-story .base-story .base-story-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

#base-story .base-story .base-story-item section {
    width: 24%;
    text-align: center;
    background-color: #faa000;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

#base-story .base-story .base-story-item section::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 4.40%;
    left: 1.15%;
    border-right: 11px solid transparent;
    border-left: 10px solid transparent;
    border-top: 11px solid #000;
    transform: rotate(-38.75deg);
    -webkit-transform: rotate(-38.75deg);
    -moz-transform: rotate(-38.75deg);
    -ms-transform: rotate(-38.75deg);
    -o-transform: rotate(-38.75deg);
}

#base-story .base-story .base-story-item section::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -3.2%;
    left: -5.6%;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: 12px solid #fff;
    transform: rotate(141.5deg);
    -webkit-transform: rotate(141.5deg);
    -moz-transform: rotate(141.5deg);
    -ms-transform: rotate(141.5deg);
    -o-transform: rotate(141.5deg);
}

#base-story .base-story .base-story-item section a {
    color: #000;
}

#base-story .base-story .base-story-item section svg {
    font-size: 22px;
    margin: 0 0 20px 0;
}

/* ********************************** services **********************************************/

#services {
    position: relative;
    width: 100%;
    background-image: url(../images/coverservice.png);
    background-size: cover;
    height: 600px;
}

#services .overlay {
    padding: 80px 0;
}

#services .service-title {
    margin-bottom: 50px;
    margin-top: 30px;
}

#services .service-title h2 {
    color: #fff;
    padding-right: 10px;
    position: relative;
}

#services .service-title h2::before {
    content: '';
    width: 4px;
    height: 50px;
    top: -13px;
    right: 0;
    position: absolute;
    background-color: #faa000;
}

#services .service {
    flex-direction: column;
}

#services .tab-button {
    width: 100%;
    display: flex;
    background-color: #fca714;
}

#services .tab-button ul {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

#services .tab-button ul li {
    width: 20%;
    text-align: center;
    border-left: 3px solid #ee9700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
}

#services .tab-button ul li:last-child {
    border-left: none;
}

#services .tab-button ul li svg {
    font-size: 20px;
    margin-right: 10px;
}

#services .tab-content {
    display: flex;
    background-color: #fff;
}

#services .tab-content .tab {
    display: flex;
    flex-direction: column;
}

#services .tab-content .tab .content {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

#services .tab-content .tab .content .content-title {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

#services .tab-content .tab .content .content-title h3 {
    margin-bottom: 20px;
}

#services .tab-content .tab .content .content-title p {
    line-height: 25px;
}

#services .tab-content .tab .content .content-img {
    width: 30%;
    text-align: center;
}

#services .tab-content .tab .content .content-img img {
    width: 250px;
    height: 180px;
}

#services .tab-content .tab .tab-content-link {
    background-color: #faa000;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#services .tab-content .tab .tab-content-link:hover {
    background-color: #df7904;
}

#services .tab-content .tab .tab-content-link a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
}

/* ********************************** about **********************************************/

#about {
    display: flex;
    padding: 100px 0;
}

#about .about-title {
    width: 30%;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}

#about .about-title h2 {
    color: #000;
    padding-right: 10px;
    position: relative;
    text-align: right;
}

#about .about-title h2::before {
    content: '';
    width: 4px;
    height: 50px;
    top: -13px;
    right: 0;
    position: absolute;
    background-color: #faa000;
}

#about .about-title p {
    margin-top: 40px;
    line-height: 25px;
    padding: 15px;
    box-sizing: border-box;
    text-align: justify;
}

#about .about-title button {
    height: 35px;
    width: 300px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #faa000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#about .about-title button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #faa000;
    border-radius: 0 0 80% 80%;
    -webkit-border-radius: 0 0 80% 80%;
    -moz-border-radius: 0 0 80% 80%;
    -ms-border-radius: 0 0 80% 80%;
    -o-border-radius: 0 0 80% 80%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: -1;
}

#about .about-title button:hover::before {
    height: 65px;
}

#about .about-team {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#about .about-team .about-team-item {
    width: 32.33%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#about .about-team .about-team-item img {
    width: 100%;
    height: 350px;
}

#about .about-team .about-team-item .about-team-item-slide {
    position: absolute;
    height: 100%;
    bottom: -100%;
    right: 0;
    left: 0;
    background-color: #faa000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#about .about-team .about-team-item:hover .about-team-item-slide {
    bottom: 0;
    opacity: 0.8;
}

#about .about-team .about-team-item .about-team-item-slide ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#about .about-team .about-team-item .about-team-item-slide ul li a svg {
    color: rgb(255, 231, 231);
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#about .about-team .about-team-item .about-team-item-slide ul li a svg:hover {
    color: #23730b;
}

#about .about-team .about-team-item .about-team-item-slide h3 {
    margin: 15px 0;
    color: #252525;
}
#about .about-team .about-team-item .about-team-item-slide h5 {
    color: #0a1223;
}

/* ********************************** beautiText ****************************************/

#beautiText {
    width: 100%;
    height: 400px;
    background-image: url(../images/biutitext.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#beautiText .overlay {
    padding: 160px 0 0 0;
}

#beautiText .beautiText {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#beautiText .beautiText h1 {
    font-size: 30px;
    font-weight: 900;
    color: #f0f0f0;
}

#beautiText .beautiText a {
    background-color: #faa000;
    margin: 40px 0 0 0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ********************************** projects ****************************************/

#projects {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

#projects .projects-title {
    display: flex;
    justify-content: space-between;
    place-items: baseline;
}

#projects .projects-title h2 {
    padding-right: 10px;
    position: relative;
    text-align: right;
}

#projects .projects-title h2::before {
    content: '';
    width: 4px;
    height: 50px;
    top: -13px;
    right: 0;
    position: absolute;
    background-color: #faa000;
}

#projects .projects-title button {
    height: 35px;
    width: 200px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #faa000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#projects .projects-title button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #faa000;
    border-radius: 0 0 80% 80%;
    -webkit-border-radius: 0 0 80% 80%;
    -moz-border-radius: 0 0 80% 80%;
    -ms-border-radius: 0 0 80% 80%;
    -o-border-radius: 0 0 80% 80%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: -1;
}

#projects .projects-title button:hover::before {
    height: 65px;
}

#projects .box {
    margin-top: 80px;
    width: 100%;
}

#projects .box .box-item {
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 10px rgba(126, 126, 126, 0.7);
    cursor: pointer;
}

#projects .box .box-item img {
    width: 100%;
    height: 50%;
}

#projects .box .box-item h4 {
    color: #333;
    margin: 10px 0;
    padding: 0 5px;
}

#projects .box .box-item p {
    color: #999;
    font-size: 14px;
    line-height: 25px;
    padding: 0 8px;
}

/* ********************************** articles ****************************************/

#articles {
    width: 100%;
    height: 450px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    background: url(../images/article.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#articles .article-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

#articles .articles-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: baseline;
    padding: 50px 0;
}

#articles .articles-title h2 {
    padding-right: 10px;
    position: relative;
    text-align: right;
    color: #fff;
}

#articles .articles-title h2::before {
    content: '';
    width: 4px;
    height: 50px;
    top: -13px;
    right: 0;
    position: absolute;
    background-color: #faa000;
}

#articles .articles-title button {
    height: 35px;
    width: 200px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #faa000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 3;
    color: #fff;
    outline: none;
}

#articles .articles-title button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #faa000;
    border-radius: 0 0 80% 80%;
    -webkit-border-radius: 0 0 80% 80%;
    -moz-border-radius: 0 0 80% 80%;
    -ms-border-radius: 0 0 80% 80%;
    -o-border-radius: 0 0 80% 80%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: -1;
}

#articles .articles-title button:hover::before {
    height: 65px;
}

#articles .article-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#articles .post {
    width: 32.33%;
    background-color: #fff;
    position: relative;
}

#articles .post .post-img {
    position: relative;
    display: block;
}

#articles .post .post-img:before {
    content: '';
    width: 5px;
    height: 100px;
    background-color: #faa000;
    position: absolute;
    bottom: 1.5%;
    right: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#articles .post .post-img:hover:before {
    width: 10px;
    height: 150px;
    background-color: #e4860c;
}

#articles .post .post-img:after {
    content: '';
    width: 150px;
    height: 5px;
    background-color: #faa000;
    position: absolute;
    bottom: 1.5%;
    right: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#articles .post .post-img:hover:after {
    width: 250px;
    height: 10px;
    background-color: #e4860c;
}

#articles .post img {
    width: 100%;
    height: 250px;
}

#articles .post .post-overlay {
    opacity: 0;
    position: absolute;
    top: 25px;
    right: 20px;
    bottom: 20px;
    left: 0;
    z-index: 1;
    background-color: #faa000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
}

#articles .post .post-overlay svg {
    font-size: 25px;
    color: #fff;
}

#articles .post .post-img:hover .post-overlay {
    opacity: 0.7;
}

#articles .post .date {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

#articles .post .date h2 {
    font-size: 13px;
    color: #000;
}

#articles .post .date svg {
    margin-left: 5px;
    color: #faa000;
}

#articles .post .post-desc {
    padding: 10px;
    box-sizing: border-box;
}

#articles .post .post-desc h3 a {
    color: #222;
}

#articles .post .post-desc p {
    margin-top: 5px;
    line-height: 23px;
    font-size: 14px;
    color: #3d3731;
}

/* ********************************** partner ****************************************/

#partner {
    width: 100%;
    padding: 80px 0;
    background-color: #faa000;
}

#partner ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#partner ul li {
    width: 23%;
}

#partner ul li a {
    display: block;
}

#partner ul li a img {
    width: 100%;
    height: 100%;
}

/* ********************************** footer ****************************************/

footer {
    width: 100%;
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5) , rgba(0 , 0 , 0 , 1)) , url('../images/footer.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .footer-about {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #faa000;
    padding-bottom: 30px;
}

footer .footer-about .footer-about-title {
    color: #fff;
    width: 65%;
}

footer .footer-about .footer-about-title h3 {
    margin-bottom: 20px;
    color: #faa000;
}

footer .footer-about .footer-about-title p {
    line-height: 1.7;
    padding-left: 20px;
}

footer .footer-about .footer-about-contact {
    width: 35%;
}

footer .footer-about .footer-about-contact form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-about .footer-about-contact form input {
    width: 75%;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid #faa000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer .footer-about .footer-about-contact form button {
    width: 25%;
    padding: 10px 15px;
    background-color: #faa000;
    border: none;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer .footer-about .footer-about-contact .footer-social {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

footer .footer-about .footer-about-contact .footer-social ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

footer .footer-about .footer-about-contact .footer-social ul li a {
    color: #faa000;
}

footer .footer-about .footer-about-contact .footer-social ul li a svg {
    font-size: 25px;
}

footer .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
}

footer .footer-content section {
    width: 32.33%;
}

footer .footer-content .hot-content h3 {
    color: #faa000;
    margin-bottom: 30px;
}

footer .footer-content .hot-content ul {
    width: 100%;
}

footer .footer-content .hot-content ul li {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #faa000;
    padding-bottom: 20px;
}

footer .footer-content .hot-content ul li:last-child {
    border-bottom: none;
}

footer .footer-content .hot-content ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-content .hot-content ul li a .hot-content-title {
    line-height: 30px;
}

footer .footer-content .hot-content ul li a .hot-content-title h5 {
    color: #faa000;
}

footer .footer-content .hot-content ul li a .hot-content-title p {
    font-size: 13px;
    color: rgb(202, 202, 202);
}

footer .footer-content .hot-content ul li a img {
    width: 80px;
}

footer .footer-content .quick-access h3 {
    color: #faa000;
    margin-bottom: 30px;
}

footer .footer-content .quick-access ul {
    width: 100%;
}

footer .footer-content .quick-access ul li {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #faa000;
    padding-bottom: 30px;
}

footer .footer-content .quick-access ul li:last-child {
    border-bottom: none;
}

footer .footer-content .quick-access ul li a {
    color: #faa000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-content .portfolio h3 {
    color: #faa000;
    margin-bottom: 30px;
}

footer .footer-content .portfolio ul {
    width: 100%;
}

footer .footer-content .portfolio ul li {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #faa000;
    padding-bottom: 20px;
}

footer .footer-content .portfolio ul li:last-child {
    border-bottom: none;
}

footer .footer-content .portfolio ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-content .portfolio ul li a .portfolio-content-title {
    line-height: 30px;
}

footer .footer-content .portfolio ul li a .portfolio-content-title h5 {
    color: #faa000;
}

footer .footer-content .portfolio ul li a .portfolio-content-title p {
    font-size: 13px;
    color: rgb(202, 202, 202);
}

footer .footer-content .portfolio ul li a img {
    width: 80px;
}

footer .copy-right {
    text-align: center;
    background-color: #252525;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

footer .copy-right h5 {
    color: #fff;
}

footer .copy-right p {
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
}

footer .copy-right svg {
    margin: 0 5px;
}

footer .copy-right svg.fa-code {
    color: rgb(104, 104, 250);
}

footer .copy-right svg.fa-heart-broken {
    color: rgb(255, 102, 102);
}

/* ********************************** single page ****************************************/
/* ********************************** single-header ****************************************/

.single-header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url('../images/footer.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-header svg {
    font-size: 250px;
    color: #faa000;
}

/* ********************************** single-content ****************************************/

#single-content {
    padding: 80px 0;
}

#single-content .single-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#single-content #main-content {
    background-color: #fff;
    width: 69%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(158, 158, 158, 0.5);
}

#single-content #main-content .main-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#single-content #main-content .main-title h3 {
    color: #faa000;
}

#single-content #main-content .main-title .main-date {
    display: flex;
}

#single-content #main-content .main-title .main-date h5 {
    margin: 0 10px;
}

#single-content #main-content .main-title .main-date h5 svg {
    color: #faa000;
    margin-left: 5px;
}

#single-content #main-content .main-description {
    width: 100%;
    margin-top: 30px;
}

#single-content #main-content .main-description img {
    width: 100%;
}

#single-content #main-content .main-description p {
    margin-top: 30px;
    line-height: 25px;
}

#single-content #main-content .main-description ul {
    display: flex;
    margin-top: 30px;
}

#single-content #main-content .main-description ul h4 {
    margin-left: 10px;
}

#single-content #main-content .main-description ul li {
    margin-left: 10px;
}

#single-content #main-content .main-description ul li a {
    color: #000;
}

#single-content #main-content .main-description ul li:hover a {
    color: #faa000;
}

#single-content #main-content .main-description .comment {
    width: 100%;
    margin-top: 50px;
    border: 1px solid rgb(211, 211, 211);
    padding: 15px;
    box-sizing: border-box;
}

#single-content #main-content .main-description .comment .comment-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#single-content #main-content .main-description .comment .comment-item .comment-item-desc {
    width: 80%;
}

#single-content #main-content .main-description .comment .comment-item img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#single-content #main-content .main-description .comment .comment-reply {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    border: 1px solid #faa000;
    margin-top: 30px;
    padding: 18px;
    box-sizing: border-box;
}

#single-content #main-content .main-description .comment .comment-reply .comment-item-reply {
    width: 75%;
}

#single-content #main-content .main-description .comment .comment-reply img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#single-content #main-content .main-description form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

#single-content #main-content .main-description form input {
    outline: none;
    width: 32.5%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #c4c4c4;
}

#single-content #main-content .main-description form textarea {
    outline: none;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #c4c4c4;
    margin-top: 15px;
}

#single-content #main-content .main-description form input[type=submit] {
    margin: 30px auto;
    background-color: #faa000;
    border: none;
    color: #fff;
    cursor: pointer;
}

#single-content #sidebar {
    box-shadow: 1px 1px 10px rgba(158, 158, 158, 0.5);
    background-color: #fff;
    width: 29%;
    height: fit-content;
    padding-bottom: 50px;
}

#single-content #sidebar .sidebar-search {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0px 15px 7px -5px #949494;
    position: relative;
}

#single-content #sidebar .sidebar-search::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    width: 6px;
    bottom: -5px;
    right: -3px;
    top: -13px;
}

#single-content #sidebar .sidebar-search::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 78px;
    width: 5px;
    top: -12px;
    right: 1px;
    transform: rotate(2.2deg);
    -webkit-transform: rotate(2.2deg);
    -moz-transform: rotate(2.2deg);
    -ms-transform: rotate(2.2deg);
    -o-transform: rotate(2.2deg);
}

#single-content #sidebar .sidebar-search form {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#single-content #sidebar .sidebar-search form::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 7px;
    left: -30px;
    right: 50px;
    bottom: -24px;
}

#single-content #sidebar .sidebar-search form::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 7px;
    left: -27px;
    right: 50px;
    bottom: -19px;
    transform: rotate(-0.75deg);
    -webkit-transform: rotate(-0.75deg);
    -moz-transform: rotate(-0.75deg);
    -ms-transform: rotate(-0.75deg);
    -o-transform: rotate(-0.75deg);
}

#single-content #sidebar .sidebar-search form input {
    width: 80%;
    padding: 3px 7px;
    font-size: 13px;
    outline: none;
    border: none;
    border: 1px solid #faa000;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#single-content #sidebar .sidebar-search form button {
    width: 20%;
    font-size: 12px;
    padding: 2px 6px;
    background-color: #faa000;
    border: none;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#single-content #sidebar .sidebar-hot {
    margin-top: 40px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 15px 7px -5px #949494;
    position: relative;
}

#single-content #sidebar .sidebar-hot::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 260px;
    width: 8px;
    top: 0;
    right: -4px;
}

#single-content #sidebar .sidebar-hot::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 240px;
    width: 6px;
    top: 2px;
    right: 3.5px;
    transform: rotate(2.2deg);
    -webkit-transform: rotate(2.2deg);
    -moz-transform: rotate(2.2deg);
    -ms-transform: rotate(2.2deg);
    -o-transform: rotate(2.2deg);
}

#single-content #sidebar .sidebar-hot h4 {
    padding-bottom: 10px;
    position: relative;
}

#single-content #sidebar .sidebar-hot h4::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 2px;
    width: 75px;
    bottom: 0;
}

#single-content #sidebar .sidebar-hot ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}

#single-content #sidebar .sidebar-hot ul::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 8px;
    left: -18px;
    right: 50px;
    bottom: -20px;
}

#single-content #sidebar .sidebar-hot ul::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 8px;
    left: -15px;
    right: 50px;
    bottom: -14px;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}

#single-content #sidebar .sidebar-hot ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #faa000;
    padding-bottom: 10px;
}

#single-content #sidebar .sidebar-hot ul li a {
    color: black;
}

#single-content #sidebar .sidebar-hot ul li span {
    color: #faa000;
    font-size: 12px;
}

#single-content #sidebar .sidebar-hot ul li span svg {
    margin-left: 5px;
}

#single-content #sidebar .sidebar-item {
    margin-top: 40px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 15px 7px -5px #949494;
    position: relative;
}

#single-content #sidebar .sidebar-item::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 260px;
    width: 8px;
    top: 0;
    right: -4px;
}

#single-content #sidebar .sidebar-item::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 240px;
    width: 6px;
    top: 2px;
    right: 3.5px;
    transform: rotate(2.2deg);
    -webkit-transform: rotate(2.2deg);
    -moz-transform: rotate(2.2deg);
    -ms-transform: rotate(2.2deg);
    -o-transform: rotate(2.2deg);
}

#single-content #sidebar .sidebar-item h4 {
    padding-bottom: 10px;
    position: relative;
}

#single-content #sidebar .sidebar-item h4::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 2px;
    width: 110px;
    bottom: 0;
}

#single-content #sidebar .sidebar-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}

#single-content #sidebar .sidebar-item ul::before {
    position: absolute;
    content: "";
    background-color: #faa000;
    height: 8px;
    left: -18px;
    right: 50px;
    bottom: -20px;
}

#single-content #sidebar .sidebar-item ul::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 8px;
    left: -15px;
    right: 50px;
    bottom: -14px;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}

#single-content #sidebar .sidebar-item ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #faa000;
    padding-bottom: 10px;
}

#single-content #sidebar .sidebar-item ul li a {
    color: black;
}

#single-content #sidebar .sidebar-item ul li span {
    color: #faa000;
    font-size: 12px;
}

#single-content #sidebar .sidebar-item ul li span svg {
    margin-left: 5px;
}